<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VanHack Forum</title>

    <!-- Bootstrap core CSS -->
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
	<script src="https://use.fontawesome.com/69d83941a2.js"></script>

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/forum">VanHack Forum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
		  {% if not user.is_authenticated %}
		  <form action="/forum/login/" method="post">
			{% csrf_token %}
            <span class="headerText">Login:</span>
            <input id="loginInput" class="headerInput" type="text" name="username" size="12">
            <span class="headerText">Password:</span>
            <input id="passwordInput" class="headerInput" type="password" name="password" size="12">
			<input id="signInButton" class="headerButton btn btn-primary btn-sm" type="submit" value="Sign In">
		  </form>
		  <li>
			<a href="/forum/signup"><input id="signUpButton" class="headerButton btn btn-danger btn-sm" type="submit" value="Sign Up"></a>
		  </li>
		  {% else %}
			<span class="headerText">Welcome, </span>
			<div class="dropDown">
			<a href="/forum/user/{{ user }}/">
			<span class="dropItem"><span style="text-decoration: underline;">{{ user }}</span>
			<img id="userIcon" src="/forum/media/{{ user.profile.user_image }}" alt="User Icon" height="24" width="24">
			</span>
			</a>
				<div class="dropContent">
					<a href="/forum/user/{{ user }}/">User Account</a>
					<a href="/forum/logout/">Sign Out</a>
				</div>
			</div>
		  {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
	{% block content %}
    {% endblock %}
	</div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	
	<div id="baseFooter">
		<div class="container">
			© 2017 Guilherme Deo
		</div>
	</div>

  </body>
  
</html>
