{% extends 'forum/base.html' %}

{% block content %}
      <div class="row">
        <div class="col-lg-12 text-center">
		{% if not user.is_authenticated %}
          <h1 class="mt-5">Welcome to the VanHack Forum</h1>
          <p class="lead">You are free to look around, but please register or sign in if you wish to start a discussion!</p>
		{% else %}
		  <h1 class="mt-5" style="margin-bottom: 50px;">Hello {{ user }}, welcome to the VanHack Forum</h1>
		{% endif %}
        </div>
      </div>
	
	  <div id="forumBoard">
	    {% for section in sections %}
			<div class="sectionHeader">
				{{ section }}
			</div>
			<div class="forumSection">
			{% for subsection in section.subsection_set.all %}
				<div>
					<a href="/forum/{{ subsection.id }}/{{ subsection.subsection_title }}">{{ subsection }}</a>
				</div>
			{% endfor %}
			</div>
		{% endfor %}
	  </div>
{% endblock %}
